body {
    background-color: #B0C4DE;

}
img {
    margin-bottom: 40px;
}
.item {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    line-height: 45px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}
.fas {
    cursor: pointer;
}
.addTasks > p {
    color: red;
}
.container {
    width: 60%;
    margin: auto;
    text-align: center;
}
.tasks {
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    padding: 30px;
    width: 400px;
}
input {
    width: 400px;
    height: 30px;
    border-radius: 10px;
}
button {
    height: 35px;
    width: 100px;
    border-radius: 10px;

}
h2 {
    text-align: start;
    width: 91%;
    margin: auto;
}
.complete {
    background-color: white;
    width: 140px;
    height: 200px;
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
    margin-left: 20px;
}
.main {
    display: flex;
}
.trashed {
    background-color: white;
    width: 330px;
    height: 200px;
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
    margin-left: 20px;
}